In [1]:
import pandas as pd
from collections import Counter

In [2]:
trans = pd.read_csv('data/bank_data.csv')

In [3]:
fin_df = pd.DataFrame()

In [4]:
trans['AMOUNT_EQ'] = trans['AMOUNT_EQ'].apply(lambda x: x.replace('$',''))

In [5]:
trans['AMOUNT_EQ'] = trans['AMOUNT_EQ'].apply(lambda x: x.replace(' ',''))

In [6]:
trans['AMOUNT_EQ'] = trans['AMOUNT_EQ'].apply(lambda x: float(x))

In [7]:
fin_df['median_spend'] = trans.groupby('CustomerKey')['AMOUNT_EQ'].median()

In [8]:
fin_df['has_foreign_spend'] = trans.groupby('CustomerKey')['CurrencyName'].apply(list)

In [9]:
fin_df['has_foreign_spend'] = fin_df['has_foreign_spend'].apply(lambda x: ('Евро' in x) | ('Доллар США' in x))

In [10]:
trans = trans.loc[(trans['CurrencyName'] != 'Евро') | (trans['CurrencyName'] != 'Доллар США')]

In [11]:
fin_df['mcc_all'] = trans.groupby('CustomerKey')['MCC'].apply(list)

In [12]:
fin_df['top1'] = fin_df['mcc_all'].apply(lambda x: Counter(x).most_common(1)[0][0])

In [13]:
fin_df['top2'] = fin_df['mcc_all'].apply(lambda x: Counter(x).most_common(2)[1][0] if len(Counter(x).most_common(2)) >= 2 else Counter(x).most_common(1)[0][0])

In [14]:
fin_df['top3'] = fin_df['mcc_all'].apply(lambda x: Counter(x).most_common(3)[2][0] if len(Counter(x).most_common(3)) >= 3 else Counter(x).most_common(1)[0][0])

In [15]:
trans['TRANS_DATE'] = trans['TRANS_DATE'].apply(lambda x: str(x).split('.')[1])

In [16]:
fin_df['dates'] = trans.groupby('CustomerKey')['TRANS_DATE'].apply(list)

In [17]:
months = {'01':'January', '02':'February', '03':'March', '04':'April', '05':'May', '06':'June', '07':'July', '08':'August', '09':'September', '10':'October', '11':'November', '12':'December'}

In [18]:
fin_df['dates'] = fin_df['dates'].apply(lambda x: Counter(x).most_common(1)[0][0])

In [19]:
fin_df['dates'] = fin_df['dates'].apply(lambda x: months[str(x)])

In [20]:
fin_df['payment_system'] = trans.groupby('CustomerKey')['PaymentSystem'].apply(list)

In [21]:
fin_df['payment_system'] = fin_df['payment_system'].apply(lambda x: Counter(x).most_common(1)[0][0])

In [22]:
fin_df.head(10)

,median_spend,has_foreign_spend,mcc_all,top1,top2,top3,dates,payment_system
CustomerKey,,,,,,,,
52248,965.540,False,"[5641, 5641, 5641, 5641, 5641, 5641, 5641]",5641,5641,5641,July,БСПБ
65435,4735.000,False,"[5411, 6011, 4814, 5411, 5411, 5912, 5912, 601...",6011,5411,5912,November,МИР - НСПК
69613,500.000,False,"[5912, 5814, 6011, 7011, 6011, 6011, 4814, 541...",6011,5411,5814,January,MasterCard
85475,382.000,False,"[5814, 5814, 5411, 5411, 5411, 5411, 4111, 601...",5411,6011,5814,August,MasterCard
100286,702.000,False,"[5411, 5814, 5912, 5411, 6011, 5999, 5399, 539...",5411,5499,5331,May,МИР - НСПК
113171,365.000,False,"[5912, 4812, 5200, 5641, 5200, 5211, 5641, 541...",5411,6011,5541,December,MasterCard
161649,578.070,False,"[6011, 5411, 5411, 5411, 5411, 5814, 5912, 541...",5411,4121,5641,July,MasterCard
171740,367.000,False,"[5814, 5499, 5331, 5814, 5499, 5499, 5499, 549...",5499,5411,6011,October,МИР - НСПК
181979,577.275,False,"[5499, 5200, 5411, 5499, 5912, 5814, 6011, 601...",5411,6011,4814,October,МИР - НСПК
187483,207.000,False,"[5411, 5411, 5411, 6011, 6011, 6011, 5499, 411...",6011,5816,5499,August,MasterCard

In [24]:
fin_df[['median_spend','has_foreign_spend','top1','top2','top3','dates','payment_system']].to_csv('finance_profile.csv', index=False)

In [54]:
fin_df['budget'] = trans.groupby('CustomerKey')['AMOUNT_EQ'].sum()

In [55]:
fin_df.head(10)

,has_foreign_spend,median_spend,mcc_all,top1,top2,top3,dates,payment_system,budget
CustomerKey,,,,,,,,,
52248,False,965.540,"[5641, 5641, 5641, 5641, 5641, 5641, 5641]",5641,5641,5641,July,БСПБ,5796.63
65435,False,4735.000,"[5411, 6011, 4814, 5411, 5411, 5912, 5912, 601...",6011,5411,5912,November,МИР - НСПК,1239973.42
69613,False,500.000,"[5912, 5814, 6011, 7011, 6011, 6011, 4814, 541...",6011,5411,5814,January,MasterCard,59995.43
85475,False,382.000,"[5814, 5814, 5411, 5411, 5411, 5411, 4111, 601...",5411,6011,5814,August,MasterCard,70193.00
100286,False,702.000,"[5411, 5814, 5912, 5411, 6011, 5999, 5399, 539...",5411,5499,5331,May,МИР - НСПК,547077.74
113171,False,365.000,"[5912, 4812, 5200, 5641, 5200, 5211, 5641, 541...",5411,6011,5541,December,MasterCard,407938.75
161649,False,578.070,"[6011, 5411, 5411, 5411, 5411, 5814, 5912, 541...",5411,4121,5641,July,MasterCard,1226487.00
171740,False,367.000,"[5814, 5499, 5331, 5814, 5499, 5499, 5499, 549...",5499,5411,6011,October,МИР - НСПК,778875.93
181979,False,577.275,"[5499, 5200, 5411, 5499, 5912, 5814, 6011, 601...",5411,6011,4814,October,МИР - НСПК,797209.64
187483,False,207.000,"[5411, 5411, 5411, 6011, 6011, 6011, 5499, 411...",6011,5816,5499,August,MasterCard,126727.79

In [57]:
mcc_codes = pd.read_csv('data/mcc-codes.csv')

In [58]:
mcc_codes.columns = ['mcc', 'name', 'group']

In [59]:
mcc_codes.head(10)

    mcc                                               name               group
0   763                   Сельскохозяйственные кооперативы  Контрактные услуги
1   780          Услуги садоводства и ландшафтного дизайна  Контрактные услуги
2  1520  Генеральные подрядчики ?  жилое и коммерческое...  Контрактные услуги
3  1711  Генеральные подрядчики по вентиляции, теплосна...  Контрактные услуги
4  1731                        Подрядчики по электричеству  Контрактные услуги
5  1740  Изоляция, мозаика, штукатурные работы, каменна...  Контрактные услуги
6  1750                                   Столярные работы  Контрактные услуги
7  1761  Кровельные и сайдинговые работы, обработка лис...  Контрактные услуги
8  1771                          Подрядчики бетонных работ  Контрактные услуги
9  1799  Контрактные услуги ? нигде более не классифици...  Контрактные услуги